<div class="positionTable">

<table class="blueTable toCenterTable">
    <thead>
    <tr>
        <th>id</th>
        <th>Name </th>
        <th>Ending Date</th>
        <th>Starting Date</th>
    </tr>
</thead>
<tfoot>
    <tr>
        <td colspan="4">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
    </tr>
</tfoot>
<tbody>
    <tr *ngFor="let com of offersList">
        <td>{{com.id}}</td>
        <td>{{com.name }}</td>
        <td>{{com.contractEndDate }}</td>
        <td>{{com.contractStartDate }}</td>
    </tr>
</tbody>
</table>
</div>
<!--  // for unsubscribing without using "onDestroy"
    <li *ngFor="let instr of instruments$ | async">
    {{ instr | json }} 
</li>
 -->

